body {
  background-color: #687e8d
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* position: absolute; */
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #bac7cd;
  /* align-items: center; */
  color: rgb(0, 0, 0);
  background-color: #687e8d
}

.contact{
  display:flex;
  flex-direction: column;
  font-size: 200%;
  color: #687e8d;
  font-family: monospace;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1rem;
  z-index: 1;
  border: solid 1px #bac7cd;
  background-color: #bac7cd;
  padding: 2rem;
}

.sideBar {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: #687e8d;
  font-family: verdana;
  border-right: 1px solid #bac7cd;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0.5rem;
  /* justify-content: flex-end; */
  z-index: 2;
}

.sideBar > a:hover {
  transform: scale(1.2);
}

.logo-size {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-setting {
  display: flex;
  justify-content: flex-end;
  bottom:0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.titles {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}