:root {
  --background-light: #ffffff;
  --background-light2: #f9f9f9;
  --text-light: #000000;

  --background-dark: #2e2e2e;
  --background-dark2: #4c4d51;
  --text-dark: #ffffff;
}

[data-theme="light"] {
  --background: var(--background-light);
  --background2: var(--background-light2);
  --text-color: var(--text-light);
  --border: #4c4d51;
  --border2: #2d2e32;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --background2: var(--background-dark2);
  --text-color: var(--text-dark);
  --border: #2d2e32;
  --border2: #4c4d51;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.17);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background2);
  position: relative;
  font-family: poppins, sans-serif;
}

.grid {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 5.5rem 4rem 0 4rem;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
    padding: 3rem 0rem 0 0rem;
  }

  // @media (max-width: 460px) {
  //   padding: 0 1.7rem;
  // }
}

.App-logo {
  height: 4rem;
  pointer-events: none;
  position: fixed;
  left: 5rem;

  @media (max-width: 900px) {
    left: 1rem;
  }
}

nav {
  align-items: center;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.2rem;
  height: auto;
  padding: 5px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  > section {
    display: flex;
    margin-left: auto;
    padding-right: 175px;

    @media (max-width: 900px) {
      padding-right: 15px;
      gap: 0.3rem;
    }
  }

  .navFormat a {
    margin: 1em 0;
    padding-left: 40px;

    @media (max-width: 900px) {
      padding-left: 0;
    }
  }

  section a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.23s;
    margin-left: 20px;

    &:hover {
      color: rgb(49, 181, 225);
    }

    // @media (max-width: 900px) {
    //   margin-left: 0;
    // }
  }

  @media (max-width: 900px) {
   font-size: 2vh;
   height: 8vh;
  }
}

.home {
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    height: 115vh;
    text-align: center;
  }
}

.mobile-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 300;
}

.closed-nav {
  left: -100%!important;
}

.content {
  display: flex;
  flex-wrap: wrap;
  // gap: 10rem;
  height: 75vh;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: wrap;
    gap: 2rem;
    align-items: center;
  }
}

.port-main {
  display: flex;
  align-items: center;
  gap: 25vh;
  position: relative;
  padding-left: 5vh;
  padding-right: 25vh;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
    padding: 3vh 0 0 0;
  }
}

.port-text {
  display: flex;
  flex-direction: column;
  // max-width: 50rem;
  position: relative;
  font-family: poppins, sans-serif;
  color: var(--text-color);

  @media (max-width:900px) {
    padding-bottom: 2rem;
  }
}

.sideBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  align-items: center;
  z-index: 2;

  > a:hover {
    transform: scale(1.2);
    transition: all 0.23s;
  }

  @media (max-width: 900px) {
    left: -100%!important;
  }
}

.logo-setting {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-size {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-space {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 40px;
  height: 40px;
  
// .logo-setting,
// .logo-size,
// .logo-space {
//   display: flex;
//   justify-content: space-between;
//   width: 40px;
//   height: 40px;
//   padding: 0.5rem;
//   padding-bottom: 3rem;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    width: 80px;
    height: 80px;
  }
}

.selfie {
  background-position: 50%;
  background-size: cover;
  border: 3px solid var(--border);
  border-radius: 50%;
  position: relative;
  height: 332px;
  width: 324px;
  top: 50px;
  right: 75px;
  /* attempt wiggly border */

  @media (max-width:900px) {
    height: 200px;
    width: 200px;
    top: 40px;
    right: 0;
  }
}

.techStack {
  display: flex;
  font-family: poppins, sans-serif;
  align-self: auto;
  color: var(--text-color);
  font-size: 1.7rem;
  padding-left: 2rem;

  @media (max-width: 900px) {
    .techStack {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-left: 0;
    }

    // p {
    //   flex-direction: column;
    //   font-size: 1.2rem;
    //   margin-bottom: 0;
    //   margin-right: 0;
    //   padding-bottom: 1rem;
    //   padding-right: 0;
    // }

    img {
      height: 2rem;
      width: 2rem;
    }
  }

}

.techStack-title {
  display: flex;
  font-family: poppins, sans-serif;
  color: var(--text-color);
  font-size: 1.7rem;
  padding-left: 2.5rem;

  @media (max-width:900px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--background2)
    // left: -100%!important;
  }
}

.mobile-menu {
  align-items: center;
  // background-color: #fff;
  display: flex;
  // height: 100vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 300;
  height: 40px;
  width: 40px;
}