:root {
  --background-light: #ffffff;
  --background-light2: #f9f9f9;
  --text-light: #000000;

  --background-dark: #2e2e2e;
  --background-dark2: #4c4d51;
  --text-dark: #ffffff;
}

[data-theme="light"] {
  --background: var(--background-light);
  --background2: var(--background-light2);
  --text-color: var(--text-light);
  --border: #4c4d51;
  --border2: #2d2e32;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --background2: var(--background-dark2);
  --text-color: var(--text-dark);
  --border: #2d2e32;
  --border2: #4c4d51;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.17);
}

body {
  background-color: var(--background);
  position: relative;
  font-family: poppins, sans-serif;
}

.grid {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.container {
  display: flex;
  margin: 0px auto 0px auto;
  max-width: 107rem;
  padding: 0px 4rem;
}

.App-logo {
  height: 4rem;
  pointer-events: none;
  position: fixed;
  left: 5rem;
}

nav {
  align-items: center;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.2rem;
  height: auto;
  padding: 5px 0px 5px 0px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  > section {
    display: flex;
    margin-left: auto;
    padding-right: 175px;
  }

  .navFormat a {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  section a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.23s;
    margin-left: 20px;

    &:hover {
      color: rgb(49, 181, 225);
    }
  }
}

.home {
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 35rem;
  justify-content: center;
  position: relative;
}

.port-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  position: relative;
  padding-left: 5rem;
}

.port-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
  font-family: poppins, sans-serif;
  color: var(--text-color);
}

.sideBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  align-items: center;
  z-index: 2;

  > a:hover {
    transform: scale(1.2);
    transition: all 0.23s;
  }
}

.logo-setting {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-size {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 40px;
  height: 40px;
}

.selfie {
  background-position: 50%;
  background-size: cover;
  border: 3px solid var(--border);
  border-radius: 50%;
  position: relative;
  height: 332px;
  width: 324px;
  top: 50px;
  right: 150px;
  /* attempt wiggly border */
}

.techStack {
  display: flex;
  font-family: poppins, sans-serif;
  align-items: center;
  bottom: 0;
  color: var(--text-color);
  font-size: 1.7rem;
  left: 0;
  position: absolute;
  padding-left: 5rem;
}