:root {
  --background-light: #ffffff;
  --background-dark: #202020;
  --text-light: #000000;
  --text-dark: #ffffff;
  --border-color: #bac7cd;
}

body {
  background-color: var(--background-light);
}

.App-logo {
  height: 8rem;
  pointer-events: none;
  position: fixed;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  left: 7rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  /* align-items: center; */
  background-color: var(--background-light);
}

.contact{
  display:flex;
  flex-direction: column;
  font-size: 200%;
  color: var(--background-light);
  font-family: monospace;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1rem;
  z-index: 1;
  background-color: #89bed7;
  padding: 2rem;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  font-family: verdana;
  border-right: 1px solid #bac7cd;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0.5rem;
  justify-content: flex-end;
  z-index: 2;
}

.sideBar > a:hover {
  transform: scale(1.2);
}

.logo-setting {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.logo-size {
  display: flex;
  justify-content: flex-end;
  bottom:0;
  left: 0;
  width: 40rem;
  height: 40rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.titles {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}

.selfie {
  display: flex;
  justify-content: fixed;
  padding-left: 55rem;
  height: 532px;
  width: 524px;
}

.about {
  font-family: monospace;
  top: 25rem;
  position: fixed;
  left: 9rem;
  z-index: 3;
  color: #476472;
  font-style: bold;
}

.techstack {
  display: flex;
  justify-content: row;
  font-family: monospace;
  top: 35rem;
  position: fixed;
  left: 9rem;
  z-index: 3;
  color: #476472;
}