body {
  background-color: rgb(255, 244, 227);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* position: absolute; */
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px black;
  /* align-items: center; */
  color: rgb(0, 0, 0);
  background-color: rgb(140, 177, 125);
}

.contact{
  display:flex;
  flex-direction: column;
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  font-size: 200%;
  color: rgb(140, 177, 125);
  font-family: monospace;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1rem;
  z-index: 3;
}

.sideBar {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(140, 177, 125);
  font-family: verdana;
  border-right: 1px black solid;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0.5rem;
  justify-content: flex-end;
  z-index: 2;
}

.sideBar > a:hover {
  transform: scale(1.2);
}

.logo-size {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.titles {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}