.contact {
    background-color: white;
    padding: 5rem 15rem;
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
}

.cont-container {
    grid-gap: 5rem;
    height: auto;
    width: 100%;
}

.cont-title {
    font-size: px;
    font-weight: 500;
    text-decoration: none;
    font-family: poppins, sans-serif;
    color:rgb(49, 181, 225);
}

.cont-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem;
    font-family: poppins, sans-serif;
    /* text-decoration: underline; */
}

.email {
   padding: 1.5rem 1rem;
   text-decoration: none;
   color: black;
}

.email:hover {
    color:rgb(49, 181, 225)
}