.contact {
    padding: 8rem;
    /* font-family: poppins, sans-serif; */
    /* font-size: 1.5rem; */
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.cont-content {
    display: flex;
    flex-direction: column;
}

.cont-title p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
    /* text-transform: uppercase; */
    color:rgb(49, 181, 225);
}

.cont-title h3 {
    color: #2d2e32;
    font-size: 1.5rem;
}

.cont-icons {
    display: flex;
    flex-direction: row;
    /* gap: 8rem; */
    margin-top: 4rem;
}

.cont-icons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1.5rem; */
}

.cont-logo-setting {
    width: 40px;
    height: 40px;
}

.cont-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.email {
   /* padding: 1.5rem 1rem; */
   text-decoration: none;
   color: black;
}

.email:hover {
    color:rgb(49, 181, 225)
}
