.home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:fixed;
    margin-top: 4rem;
    z-index: 1;
}

.name {
    top: 15rem;
    position: fixed;
    left: 9rem;
    font-size: 4vw;
    z-index: 3;
    color: #687e8d;
    font-style: bold;
    text-shadow: 8px 5px 15px #bac7cd;
}

.titles {
    display: flex;
    position: relative;
    top: 0rem;
    bottom: 6rem;
    font-size: 3vw;
    color:#bac7cd;
}

.titles span {
    position: absolute;
    width: fit-content;
    top: 10rem;
    opacity: 0;
    animation: animate2 10s linear infinite;
    text-align: center;
}

.titles div {
    opacity: 0;
}

@keyframes animate2 {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    2% {
      opacity: 1;
      transform: translateY(0px);
    }
    18% {
      opacity: 1;
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      transform: translateY(50px);
    }
}

.titles span:nth-child(1) {
    animation-delay: 0s;
}
  
.titles span:nth-child(2) {
    animation-delay: 2s;
}

.titles span:nth-child(3) {
    animation-delay: 4s;
}

.titles span:nth-child(4) {
    animation-delay: 6s;
}

.titles span:nth-child(5) {
    animation-delay: 8s;
}