.projects {
    background-color: var(--background2);
    padding: 4rem;
  }
  
  .projects-grid {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
  
    .pro__img {
      border-radius: 1.7rem;
      height: 35rem;
      width: 30rem;
      margin: auto;
    }
  
    .pro {
      display: flex;
      flex-direction: row;
      background-color: var(--background2);
      color: var(--text-color);
      border-radius: 1.7rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      gap: 8rem;
      padding: 2rem;
  
      &__1 {
        flex-direction: row;
        gap: 4rem;
        padding: 2rem;
        background-color: var(--background);
      }
  
      &__text {
        h3 {
          align-items: center;
          color: var(--text-color);
          display: flex;
          font-size: 1.7rem;
          gap: 0.2rem;
          justify-content: center;
          margin-bottom: 1rem;
          position: relative;
          text-transform: uppercase;
        }
  
        .date-class {
          color: gray;
          font-size: 1.4rem;
          margin-left: 0.2rem;
        }
      }
    }
  
    .stack {
      display: flex;
      width: 200px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
      text-align: center;
      margin: 4rem;
  
      &__text {
        display: flex;
        flex-direction: column;
        color: var(--text-color);
      }
    }
  
    .desc1,
    .desc2 {
      width: 100%;
      font-family: poppins, sans-serif;
    }
  
    .desc1 {
      text-align: center;
      color: var(--text-color);
    }
  
    .desc2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--text-color);
      font-size: 18px;
      font-weight: 500;
      font-family: poppins, sans-serif;
      color: rgb(49, 181, 225);
    }
  }
  
  .portfolio-title {
      font-family: poppins, sans-serif;
      color: rgb(49, 181, 225);
      font-size: 25px;
      font-weight: 500;
  }

  .port-intro {
    color: var(--text-color);
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    h3 {
      color: var(--text-color);
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 15px;
      color: var(--text-color);
  
      &:hover {
        color: rgb(49, 181, 225);
        transition: all 0.23s;
      }
    }
  
    a {
      text-decoration: none;
  
      &:hover {
        .pro-setting {
          transform: scale(1.2);
          transition: all 0.23s;
        }
      }
    }
  
    .pro-setting {
      margin: 0px 35px;
      width: 40px;
      height: 40px;
    }
  }  