.about {
  padding: 8rem 7.80rem 8rem 8rem;

  .about-content {
    display: flex;
    flex-wrap: column;
    gap: 5rem;

    @media (max-width: 1200px) {
      gap: 2rem;
    }

    @media (max-height: 500px) {
      gap: 1rem;
    }
  }

  .img-about {
    background-size: cover;
    border: 3px solid var(--border2);
    border-radius: 25%;
    height: 425px;
    width: 430px;

    @media (max-width: 1200px) {
      height: 332px;
      width: 324px;
    }

    @media (max-height: 500px) {
      height: 175px;
      width: 175px;
    }
  }

  .text-about {
    display: flex;
    flex-direction: column;
    font-family: poppins, sans-serif;
    color: var(--text-color);
    padding-top: 1rem;

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    @keyframes blink-caret {
      from, to {
        border-color: transparent;
      }
      50% {
        border-color: transparent;
      }
    }
  }
}

.container3 {
  display: flex;
  margin: 0 auto;
  max-width: 87rem;
}

.text-title {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  font-family: poppins, sans-serif;
  color: rgb(49, 181, 225);
  padding-top: 6rem;
  overflow: hidden;
  border-right: .15em solid;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5.5s steps(80, end), blink-caret .75s step-end infinite;
}

@media (max-width: 1200px) {
  .about {
    padding: 8rem 2rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .text-title {
    padding-top: 0;
    border-right: 0;
    text-align: center;
  }

  .img-about {
    margin-bottom: 2rem;
  }

  .text-about {
    text-align: center;
  }
  p {
    padding: 0;
  }
}

@media (max-height: 500px) {
  .about {
   padding: 4rem 1rem; 
  }

  .container3 {
    display: flex;
    padding: 0 6rem;
  }

  .text-title {
    padding: none;
  }
}