.contact {
    padding: 0 8rem;

    @media (max-width: 1200px) {
      padding: 0 2rem;
      justify-content: center;
      flex-direction: column;
    }
}

.cont-content {
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
      align-items: center;
    }
}

.cont-title p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
    color:rgb(49, 181, 225);
}

.cont-title h3 {
    color: var(--text-color);
    font-size: 1.5rem;
}

.cont-icon-box{
    padding-top: 0.5rem;
}

.cont-icons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-logo-setting {
    width: 40px;
    height: 40px;
    align-items: center;

    @media (max-width: 1200px) {
      width: 30px;
      height: 30px;
    }
}

.cont-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.portal {
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    padding-top: 0.5rem;
    transition: all .23s;

    &:hover {
      color:rgb(49, 181, 225);
    }
}

  .containerContact {
    display: flex;
    margin: 0 auto;
    padding: 5.5rem 0;
    max-width: 83rem;
    
    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 3rem;
      height: auto;
      text-align: center;
    }

    @media (max-height: 750px) {
      padding: 2rem 0;
    }
  }
  
  .cont-title {
    p {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 1rem;
      color: rgb(49, 181, 225);
    }
  
    h3 {
      color: var(--text-color);
      font-size: 1.5rem;
    }
  }
  
  .cont-icon-box {
    padding-top: 0.5rem;
  }
  
  .cont-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-height: 750px) {
      gap: 1.5rem;
      margin-top: .5rem;
    }
  }
  
  .cont-icons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cont-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }