//add transition for onclick of sun and moon

:root {
  --background-light: #ffffff;
  --background-light2: #f1f1f1;
  --text-light: #000000;
  --title-light: rgb(49, 181, 225);

  --background-dark: #2e2e2e;
  --background-dark2: #4c4d51;
  --text-dark: #ffffff;
  // --title-dark: #D86E94;
  --title-dark: #DA7396;
  min-width: 400px;
}

[data-theme="light"] {
  --background: var(--background-light);
  --background2: var(--background-light2);
  --text-color: var(--text-light);
  --title-color: var(--title-light);
  --border: #75767b;
  --border2: #2d2e32;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --background2: var(--background-dark2);
  --text-color: var(--text-dark);
  --title-color: var(--title-dark);
  --border: #2d2e32;
  --border2: #75767b;
  --box-shadow: 0 0 10px rgba(255, 255, 255, 0.17);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  position: relative;
  font-family: poppins, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 70rem;
  height: 100vh;
}

.App-logo {
  height: 3.75rem;
  pointer-events: none;
  position: fixed;
  left: 3.5rem;

  @media (max-width: 1200px) {
    left: 1rem;
  }

  @media (max-width: 900px) {
    height: 3rem;
  }

  @media (max-width: 500px) {
    transition: 5s;
    left: -100%!important;
  }

  @media (max-height: 650px) {
    height: 2.5rem;
  }
}

.mobile-nav-full {
  background-color: #F3F3F3;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-nav-full i {
  font-size: 2.3rem;
  position: absolute;
  right: 25px;
  top: 49px;
  cursor: pointer;
}

.mobile-links {
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  top: 44%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}

.mobile-links a {
  color: black;
  text-decoration: none;
}

.mobile-links a:hover {
  text-decoration: underline;
}

.x-mobile {
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}

.nav {
  align-items: center;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: 1.2rem;
  padding: 5px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  > section {
    display: flex;
    margin-left: auto;
    padding-right: 4rem;

    @media (max-width: 1200px) {
      padding-right: 15px;
      gap: 4vw;
    }

    @media (max-height: 650px) {
      font-size: 1rem;
      padding-right: 9vw;
      gap: 5vh;
    }
  }

  .navFormat a {
    margin: 1em 0;
    padding-left: 40px;

    @media (max-width: 1200px) {
      padding-left: 0;
    }
  }

  section a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.23s;
    margin-left: 20px;

    &:hover {
      color: var(--title-color);
    }
  }

  @media (max-width: 1200px) {
   font-size: 2vh;
   height: 8vh;
  }
}

.home {
  background-color: var(--background2);
  display: flex;
  position: relative;
  min-height: 900px;


  @media (max-width: 1200px) {
    text-align: center;
    justify-content: center;
    padding: 4rem 0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 35rem;
  transition: transform .5s ease;
  padding: 5.5rem 0 0 0;

  @media (max-width: 1350px) {
    padding: 3rem 6rem;
  }

  @media (max-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 3rem 0 0 0;
    // gap: 3rem;
    height: auto;
    text-align: center;
  }

  @media (max-width: 900px) {
    padding: 0;
    gap: 0;
  }
}

.port-main {
  display: flex;
  align-items: center;
  gap: 8rem;
  height: 35rem;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;
    padding: 8vh 0 0 0;
  }

  @media (max-width: 1000px) {
    // gap: 6rem;
    padding: 8rem 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 2rem 0 0 0;
    gap: 8rem;
  }
  
  @media (max-height: 700px) {
    // gap: 8rem;
    padding: 2rem 0 0 0; 
  }
}

.port-text {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: poppins, sans-serif;
  color: var(--text-color);
  max-width: 773px;

  p {
    max-width: 70vw;

    @media (max-width: 500px) {
      max-width: 20rem;
    }
  }

  @media (max-height: 750px) {
    gap: .8rem;
    // padding: 0 4rem;
  }

  // @media (max-height: 650px) {
  //   padding: 0 4rem;
  // }
}

.sideBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  align-items: center;
  z-index: 2;
  transition: transform .23s ease;

  > a:hover {
    transform: scale(1.2);
    transition: all 0.23s;
  }

  @media (max-width: 1200px) {
    left: -100%!important;
  }
}

.logo-setting {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  padding-bottom: 3rem;
  transition: transform .23s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.logo-size {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.skills {
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: poppins, sans-serif, bold;
  color: var(--text-color);

  @media (max-width: 600px) {
    padding: 3rem 0 0 0;
  }

  // p {
  //   display: flex;
  //   align-items: center;
  // }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;

    @media (max-width: 1200px) {
      justify-content: center;
      padding: 3rem 0 0 0;
      position: absolute;
      max-width: 35rem;
    }

    @media (max-height: 600px) {
      padding: 5rem 0 0 0
    }
  }

  ul li {
    cursor: pointer;
  }
  
  ul li img {
    transition: all .3s ease-in-out;

    &:hover{
      transform: scale(1.1);
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    position: static;
    align-content: center;
  }
}

.icon-size {
  height: 48px;
}

.selfie {
  background-position: 50%;
  background-size: cover;
  border: 3px solid var(--border);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  height: 332px;
  width: 324px;
  animation: borderAnimation 8s ease-in-out infinite;

  @media (max-width: 900px) {
    height: 300px;
    width: 300px;
    // top: 60px;
    right: 0;
  }

  @media (max-width: 600px) {
    height: 200px;
    width: 200px;
    top:6rem;
  }

  @media (max-height: 650px) {
    // height: 150px;
    // width: 150px;
    // top: 6rem;
    // right: 0;
  }
}

@keyframes borderAnimation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.hamburger-menu {
  display: none;
  gap: 3rem;
}

.hamburger-hamb,
.hamburger-cart {
  font-size: 2.3rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav-links {
      display: none;
  }

  .hamburger-menu {
      display: flex;

  }

  .hamburger-cart,
  .hamburger-hamb {
      display: flex;
  }

  .cart-div {
      width: 100%;
  }

}